body {
	background-color: #eaf0f2;
	color: #333;
	font-family: 'Lato', Sans-serif;
}

main {
  background-color: #fff4e8;
  width: 850px;
  height: 600px;
  margin: 50px auto;
  padding: 10px 30px;
}

h2 {
	color: #105e7f;
	text-align: center;
	margin: 0 0 40px 0;
}

a {
	color: #2299cc;
}	

form {
	margin-top: 20px;
}
input, select {
	display: inline-block;
	height: 30px;
	width: 150px;
	font-weight: 600;
	margin: 0 0 15px 15px;	
	padding: 0 0 0 5px;
	border: 1px solid #2299cc;
}

#submit-btn {
	color: #d6f2ff;
	background-color: #0385bc;
	border: 1px solid #2299cc;
}
#submit-btn:hover {
	color: #ddf5ff;
	background-color: #2299cc;
}

#tel {
	width: 90px;
}

.l-35 {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
}

.l-65 {
	float: left;
	width: 75%;
	margin: 0;
	padding: 0;
}

.input-l {
	width: 250px;
}

.formLbl {
	display: block;
	color: #105e7f;
	font-size: 1.3em;
	display: block;
	height: 32px;
	font-weight: 600;
	text-align: right;
	margin: 15px 20px 15px 20px;
	padding: 0;
}

.form-error {
	padding: 0 0 0 10px;
	color: red;
	font-weight: 600;
}